:root {
    --mdc-theme-primary: #c19251;
    --mdc-theme-secondary: #f7cc64;
    --mdc-theme-background: #f4f6e1;
}
@font-face {
    font-family: "Humming";
    src: url(./fonts/humming.otf) format("opentype");
}

*{
    /* color: #504d44; */
    font-family: Humming !important;
    line-height: 1.5;
}
label,span{
    color: #504d44;
}
body{
    /* background-color: #4fbaa0; */
    /* background-color: #f1e9be; */
    /* background-color: #e6d596; */

    /* background-size: 20px 20px;
    background-color: rgb(34, 74, 66);
    background-image: radial-gradient(rgb(41, 81, 74) 20%, rgba(0, 0, 0, 0) 0px), radial-gradient(rgb(41, 81, 74) 20%, rgba(0, 0, 0, 0) 0px); */

    background-color: #80d5ac;
    background-image: url(../images/fish-background.png);
    background-size:  185px;
    margin: 0px;
}

.page-content{
    display: flex;
    width: 100%;
    padding-top: 90px;
    box-sizing: border-box;
    flex: 1;
}

.main-section{
    width: 100%;
    margin-left: 250px;
    padding: 20px 25px;
}
.material-icons{
    font-family: 'Material Icons' !important;
}

/* #region Side Bar */

.main-drawer{
    position: fixed;
    height: 100vh;
    width: 250px;
    z-index: 6;
    background: #f4f6e1;
}

.drawer-item{
    margin-top: 10px;
}
.drawer-item.bottom-border{
    border-bottom: solid 1px #0000006b;
}
.select-width-class{
    width: 100%;
}

.drawer-item-label{
    transform: translateY(-106%) scale(0.75);
    position: absolute;
    left: 30px;
    color: var(--mdc-theme-primary);
}

#timeInput{
    text-align: right;
    /* width: 55%; */
}
#timeinputzeros{
    height: 0;
    position: absolute;
    top: 23px;
    left: 91px;
}
.time-label-float{
    transform: translateY(-106%) scale(0.75) !important;
    color: var(--mdc-theme-primary) !important;
}
/* Chrome, Safari, Edge, Opera */
#timeInput::-webkit-outer-spin-button,
#timeInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 56px;
}
/* Firefox */
#timeInput[type=number] {
  -moz-appearance: textfield;
}

.mdc-select--focused .mdc-select__dropdown-icon {
    /* Search and replace c19251 in the line below to change color */
    background: url("data:image/svg+xml,%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%227%2010%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20stroke%3D%22none%22%20fill%3D%22%23c19251%22%20fill-rule%3D%22evenodd%22%20opacity%3D%221%22%20points%3D%227%2010%2012%2015%2017%2010%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E") no-repeat center
}
.mdc-drawer .mdc-list-item,
.mdc-select__selected-text,
.mdc-floating-label,
.mdc-text-field__input{
    color: #504d44 !important;
}
.mdc-floating-label--float-above{
    color: var(--mdc-theme-primary) !important;
}
.mdc-text-field__input,
.mdc-select__selected-text
,.mdc-text-field:not(.mdc-text-field--disabled){
    background: var(--mdc-theme-background);
}

.mdc-chip {
    padding: 0px 8px;
    margin: 3px !important;
    background: #e0e2ca;
}
.mdc-chip--selected{
    background: #30a6744a;;
}
.mdc-chip-set{
    padding: 0px;
}
.mdc-chip__text{
    font-size: 11px;
}
.mdc-chip__primary-action:focus {
    outline: none;
}
/* #endregion */


/* #region Top Bar */
.top-bar{
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    padding: 10px 25px;
	background-color: #30a774;
    z-index: 10;
}

.fish-bug-switch{
    height: 64px;
    width: 128px;
    background: #f6f6e1;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    background-image: url(../images/bug-icon-brown-unselected.png), url(../images/fish-icon-brown-unselected.png);
    background-position: left center, right center;
    background-size: 45px;
    background-repeat: no-repeat;
    background-position-x: 10px,74px;
    /* float: left; */
}

.fish-bug-switch-selected{
    background-position: center !important;
    background-size: 45px !important;
    width: 50%;
    height: 100%;
    background-color: #f7cc64 !important;
    border-radius: 19px;
    -webkit-transition: all 0.4s cubic-bezier(0.46, 0.13, 0.29, 1.32);
    -moz-transition: all 0.4s cubic-bezier(0.46, 0.13, 0.29, 1.32);
    transition: all 0.4s cubic-bezier(0.46, 0.13, 0.29, 1.32);
}
.fish-bug-switch .bug{
    background: url(../images/bug-icon-brown.png) no-repeat;
    margin-left: 0px;
}
.fish-bug-switch .fish{
    background: url(../images/fish-icon-brown.png) no-repeat;
    margin-left: 50%;
}
/* #endregion */

/* #region Card */
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
 
#critterCards{
    opacity: 0%;
    animation-name: fadeIn;
    animation-delay: 1s; 
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* display: flex;
    flex-flow: row wrap;
    */
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card{
    width: 300px;
    margin-left: auto;
    margin-right: auto;

    /* margin-bottom: 15px; */

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.card.fadeout{
    opacity: 0;
    width: 0;
    height: 390px;
    margin: 0;
}

.card-image{
    width: 300px;
    height: 170px;
    overflow: initial;
}
.card-title-container{
    width: fit-content;
    margin-top: 5;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px 12px 3px 12px;
    background-color: #00000038;
    box-shadow: 0px 2px 2px 0px #00000038;
}
.card-title{
    padding: 3px;
    border-radius: 3px;
    background: #fffdf2c5;
    transform: rotate(-2deg) translateY(-2px);

    border-radius: 3px;
    border-image-slice: 32 32 32 32 fill;
    border-image-width: 15px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url(../images/critter-label-border.png);
}


.card-title-text{
    font-size: 18px;
    color: #504d44;
    padding: 0px 10px;
    /* border: 4px double #504d44;
    border-radius: 3px; */
}

.card-fishsize{
    float: left;
    position: absolute;
    bottom: 0px;
    padding: 1px 7px;
    font-size: 10px;
    text-align: center;
    pointer-events: none;
}
.card-fishsize img{
    width: 37px;
    margin: -25px 30px;
    filter: drop-shadow(0px 0px 0.5px #22222290);
    transform: rotate(-90deg);
}
.card-owlstamp{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card-owlstamp-image{
    width: 100%;
    height: 100%;
    opacity: 0.45;
    transform: rotate(14deg);

    background: url(../images/owlStampBrown.png) no-repeat;
    background-size: 250px;
    background-position: center;
    
    -webkit-transition: all 0.5s cubic-bezier(0.55, 0.09, 0.68, 0.53);;
    -moz-transition: all 0.5s cubic-bezier(0.55, 0.09, 0.68, 0.53);;
    transition: all 0.5s cubic-bezier(0.55, 0.09, 0.68, 0.53);;
}
.card-owlstamp-image.zoom {
    opacity: 0 !important;
    background-size: 500px !important;

  }
.card-bells{
    position: absolute;
    right: 0;
    bottom: 0px;
    margin: 7px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #504d44;
}

.card-bells img{
    width: 35px;
    margin-left: 4;
    margin-top: -6px;
    pointer-events: none;
}

.card-info{
    padding: 5px;
    background:#f5f6e1;
}

.card-info-row{
    display: flex;
    margin-bottom: 1px;
    min-height: 60px;
}

.card-info-row-name,
.card-info-row-data{
    width: 50%;
    text-align: center;
    border-radius: 5px;
    /* line-height: 42px; */
    display: flex;
}
.card-info-row-name p,
.card-info-row-data p{
    text-align: center;
    margin: auto;
}
.card-info-row-name{
    color: #f5f6e1 !important;
    background:#8a7b66;
    font-size: 17px;
}

.card-info-row-data{
    color: #8a7b66 !important;
    font-size: 14px;
    margin-left: 2px;
    flex-wrap: wrap;
}

.card-info-row-monthdata{
    display: flex;
    font-size: 12px;
}

.card-info-row-monthdata div{
    width: 28px;
    padding: 3px;
    border-radius: 5px;
    margin: 1px 0px 0px 2px;
    text-align: center;
    color: #8a7b66;
}

.card-info-month-checked{
    color: #f5f6e1 !important;
    background: #c19251;
}

/* #endregion */

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
