@font-face {
    font-family: "Humming";
    src: url(./fonts/humming.otf) format("opentype");
}

*{
    font-family: Humming;
    line-height: 1.5;
}

body{
    /* background-color: #4fbaa0; */
    /* background-color: #f1e9be; */
    /* background-color: #e6d596; */
    background-color: #80d5ac;
    background-image: url(../images/fish-background.png);
    background-size:  185px;
    margin: 0px;
}

#body{
    padding: 0px 10px;
}
#dateSelector{
    color: black;
}


.top-bar{
	background-color: #30a774;
    padding: 10px;
    margin-bottom: 20px;
}
/* #region Card */

.card{
    width: 300px;
    background-color: darkblue;
    margin: 10px;
    float: left;
    border-radius: 15px;
    color: black;
}

.card-image{
    width: 300px;
    height: 170px;
}

.card-title{
    width: fit-content;
    padding: 3px;
    margin-top: 5;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    background: #fffdf2c5;
    transform: rotate(-2deg);
}

.card-title-text{
    font-size: 18px;
    color: #504d44;
    padding: 0px 10px;
    border: 4px double #504d44;
    border-radius: 3px;
}

.card-fishsize{
    float: left;
    position: absolute;
    bottom: 0px;
    padding: 1px 7px;
    font-size: 10px;
    text-align: center;
    pointer-events: none;
}
.card-fishsize img{
    width: 37px;
    margin: -25px 30px;
    filter: drop-shadow(0px 0px 0.5px #22222290);
    transform: rotate(-90deg);
}
.card-owlstamp{
    width: 250px;
    position: absolute;
    bottom: -58px;
    left: 18px;
    margin: 6px;
    opacity: 0.45;
    transform: rotate(14deg);
    pointer-events: none;
}

.card-bells{
    position: absolute;
    right: 0;
    bottom: 0px;
    margin: 7px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.card-bells img{
    width: 35px;
    margin-left: 4;
    margin-top: -6px;
    pointer-events: none;
}

.card-info{
    padding: 5px;
    background:#f5f6e1;
}

.card-info-row{
    display: flex;
    margin-bottom: 1px;
}

.card-info-row-name,
.card-info-row-data{
    width: 50%;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin: 0px 2px;
    font-size: 14px;
}

.card-info-row-name{
    color: #f5f6e1;
    background:#8a7b66;
    font-size: 16px;
}

.card-info-row-data{
    color: #8a7b66;
}

.card-info-row-monthdata{
    display: flex;
    font-size: 12px;
}

.card-info-row-monthdata div{
    width: 28px;
    padding: 3px;
    border-radius: 5px;
    margin: 1px;
    text-align: center;
    color: #8a7b66;
}

.card-info-month-checked{
    color: #f5f6e1 !important;
    background: #c19251;
}

.card .image{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 150px;
    height: 100px;
    background-color: darkgreen;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.card .name{
    width: 100%;
    text-align: center;
    font-weight: bold;

}

.card .donateButton{
    background-color: chocolate;
    cursor: pointer;
}

/* #endregion */

#hideDonateButton{
    background-color: #3498db;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    text-align: center;
    border: 1px solid black;
}

#hideDonateButton:hover{
    background-color: #2980b9;
    cursor: pointer;
    color: white;
    border: 1px solid white;
}